body {
    font-family: 'Winky Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #fdfcfb;
    color: #333;
    margin: 0;
    padding: 2rem;
  }
  
  h1 {
    font-size: 3rem;
    color: #ff6347;
  }
  
  p {
    font-size: 1.25rem;
  }
  
  a {
    color: #0077cc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  